body {
  font-family: Arial, Helvetica, sans-serif;
  color: brown;
  margin: 0;
}

h3,
p {
  margin: 0;
}

.main-content {
}

.main2 {
  height: 110px;
  display: flex;
  background-color: #fbf7e3;
  justify-content: center;
  align-items: center;
  column-gap: 10px;
  padding: 0 1em;
}

.nav-item {
  background-color: #f3df85;
  padding: 0.7em 0.7em;
  border-radius: 50px;
  font-size: 0.8rem;
}

.nav-item.button3 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: bold;
  font-size: 1.5rem;
  column-gap: 10px;
  
}

.main{
    padding: 10px;
}

.main1 {
    margin: 0 auto;
    flex-basis: 45%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: antiquewhite;
    overflow: hidden;
    border-radius: 25%;
  }
  
  .description-container {
    display: flex;
    justify-content: space-evenly;
    margin: 1em 0;
  }
  
  .container1 {
    width: 400px;
  }
  
  .product-img {
    width: 100%;
  }
  
  .description {
    text-align: center;
  }
  
  .description-outer {
    width: 100%;
  }
  
  button {
    display: block;
    margin: 0 auto;
    margin-bottom: 1em;
    background-color: #f3df85;
    padding: 0.5em 2.5em;
    border-radius: 20px;
    border: none;
  }

  .products-container{
    display: flex;
    flex-wrap: wrap;
    row-gap: 20px;
    margin-bottom: 3em;
  }

  #img2 {
    width: 100%;
  }
  
  #main3 {
    padding: 30px;
    margin: 0 auto;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fbf7e3;
  
    /* overflow: hidden; */
    border-radius: 40px;
  }
  
  #main3 p {
    margin: 1.5em 0;
    line-height: 1.4rem;
  }
  
  #main3 h3 {
    margin-top: 1em;
  }

